:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  --text-base: 0.9375rem;
  --text-lg: 1.375rem;

  --font-regular: 400;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-slate-300);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--text-base);
}

main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: min(85%, 320px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

  background-color: var(--color-white);

  border-radius: 24px;
  padding: 16px 16px 40px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-inline: auto;
}

h1 {
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
  color: var(--color-slate-900);
  margin-inline: 16px;
}

p {
  color: var(--color-slate-500);
  margin-inline: 16px;
  line-height: 1.6;
}

@media print {
  body {
    background-color: transparent;
  }

  main {
    min-height: auto;
  }
}
